$brand-one: #69CCCC;
$brand-two: #FF7770;
$brand-three: #FF9F4C;
$brand-four: #569E7E;
$brand-five: #B859C6;
$brand-six: #68E175;

.color-one {
  background-color: $brand-one;
}

.color-two {
  background-color: $brand-two;
}

.color-three {
  background-color: $brand-three;
}

.color-four {
  background-color: $brand-four;
}

.color-five {
  background-color: $brand-five;
}

.color-six {
  background-color: $brand-six;
}

.text-one {
  color: $brand-one;
}

.text-two {
  color: $brand-two;
}

.text-three {
  color: $brand-three;
}

.text-four {
  color: $brand-four;
}

.text-five {
  color: $brand-five;
}

.text-six {
  color: $brand-six;
}