@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$brand-primary: #39CCCC;

body {
  background: $brand-primary;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.chatbar {
  bottom: 0;
  display: flex;
  left: 0;
  margin: 0 15vw;
  padding: 0 0 40px 0;
  position: fixed;
  right: 0;
  width: 70vw;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  border: 1px solid black;
  border-radius: 5px;
  flex: 8;
}

.chatbar-username {
  display: none;
  border: 1px solid black;
  flex: 2;
}

.hidden {
  display: none;
}

.message {
  display: flex;
  padding: 5px;
}

.messages {
  background-color: white;
  border-radius: 10px;
  flex: 8;
  height: 60vh;
  margin: 18vh 15vw;
  overflow: scroll;
  width: 70vw;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 15;
}

.message-image {
  height: auto;
  max-width: 75%;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  /*background: $brand-primary;*/
  height: 60px;
  left: 0;
  padding: 0 10vw;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-counter {
  float: right;
  font-weight: 700;
  line-height: 60px;
}

.sidebar {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  flex: 2;
  height: 60vh;
  left: 2vw;
  padding: 10px;
  position: fixed;
  top: 18vh;
  width: 100px;
}

