@media (max-width: 700px) {

  body {
    margin-bottom: 120px;
  }

  .message {
    flex-direction: column;
  }

  .chatbar {
    flex-direction: column;
  }

  .message-image {
    max-width: 75%;
  }

  @media (max-width: 600px) {

    .message-image {
      max-width: 90%
    }
  }
}